{% load static %} <center><img src="{% static "introduction/images/programming.jpeg" %} " alt = "Programming"  height = "200" width = "900"> </center>
<h2> Hello {{request.user.username}}  </h2>


<body style = "background-color:LightCyan;">
<h2 align="center"> Table of Contents </h2>

<center> <ol style="font-style: normal; font-size:16px;  ">
    <li> Decision Making </li>
    <li> Functions </li>
    <li> Exceptions </li>
</ol> </center> </body>




<div style = "text-align: center; font-size:14px">
    <p> <a href = "https://www.youtube.com"> Subscribe to our Youtube channel </a> </p>
    <p> <a href = "https://www.twitter.com"> Follow us in Twitter  </a> </p>
</div>